{% if cart.item_count > 0 %}
{% section 'cart-template' %}
{% else %}
<div class="container mt-3">
  <div class="row">
    <div class="h2 text-center">
      Your Cart
    </div>
    <p>Cart is Empty</p>
  </div>
</div>
{% endif %}
