{% if cart.item_count > 0 %}
{% section 'cart-template' %}
{% else %}
<div class="container mt-5">
  <div class="row text-center">
    <div class="h2">
      Your Cart
    </div>
    <h3>Cart is Empty</h3>
  </div>
</div>
{% endif %}
